<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Prism DJs Roster</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

</head>

<body>
    <div>
<img class="prismlogo" src="http://static1.squarespace.com/static/550f3e85e4b01a34b819e32b/t/5621851be4b0126253fb36ad/1508115349441/?format=1500w">
<span class="worldsbest">WORLD'S BEST DJS</span>
    </div>
