<% include ./partials/header %>

    <div>
        <form action="/djform" method="POST" class="submitButton">
                    <input type="text"  name="djName">DJ Name<br>

            <input type="text"  name="addName">Real Name<br>
            <input type="text" name="addWebsite">Add Website<br>
            <input type="text" name="addImage">Add Photo URL
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>